<h3>Listagem de Departamentos</h3>

<div>    
    <div [hidden]="error == null" class="alert alert-danger">{{error}}</div>
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th class="text-right">
                <a class="btn btn-success" 
                    [routerLink]="['/departamento-cadastrar']">
                    Cadastrar
                </a>
            </th>
        </tr>
        <tr *ngFor="let departamento of departamentos">
            <td>{{ departamento.nome }}</td>
            <td>{{ departamento.codigo }}</td>
            <td>
				<a class="btn btn-warning" 
                    [routerLink]="['/departamento-visualizar/'+departamento.id]">
                    Visualizar
                </a>
				<a class="btn btn-info" 
                    [routerLink]="['/departamento-editar/'+departamento.id]">
                    Editar
                </a>
                <button class="btn btn-danger" (click)="excluir(departamento.id)">
                    Excluir
                </button>
            </td>
        </tr>
    </table>
</div>