<h3>Listagem de Projetos</h3>

<div>    
    <div [hidden]="error == null" class="alert alert-danger">{{error}}</div>
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="text-right">
                <a class="btn btn-success" 
                    [routerLink]="['/projeto-cadastrar']">
                    Cadastrar
                </a>
            </th>
        </tr>
        <tr *ngFor="let projeto of projetos">
            <td>{{ projeto.nome }}</td>
            <td>{{ projeto.descricao }}</td>
            <td>
				<a class="btn btn-warning" 
                    [routerLink]="['/projeto-visualizar/'+projeto.id]">
                    Visualizar
                </a>
				<a class="btn btn-info" 
                    [routerLink]="['/projeto-editar/'+projeto.id]">
                    Editar
                </a>
                <button class="btn btn-danger" (click)="excluir(projeto.id)">
                    Excluir
                </button>
            </td>
        </tr>
    </table>
</div>